[submodule "testdata/Packages"]
	path = testdata/Packages
	url = https://github.com/sublimehq/Packages
[submodule "testdata/themes.tmbundle"]
	path = testdata/themes.tmbundle
	url = https://github.com/textmate/themes.tmbundle.git
