[package]
name = "syntect"
description = "library for high quality syntax highlighting and code intelligence using Sublime Text's grammars"
documentation = "http://thume.ca/rustdoc/syntect/syntect/"
repository = "https://github.com/trishume/syntect"
keywords = ["syntax", "highlighting", "highlighter", "colouring", "parsing"]
readme = "Readme.md"
license = "MIT"
version = "1.5.0"
authors = ["Tristan Hume <tristan@thume.ca>"]
exclude = [
    "testdata/*",
]

[dependencies]
yaml-rust = { version = "0.3.5", optional = true }
onig = { version = "^1.2", optional = true }
walkdir = "^1.0"
regex-syntax = { version = "^0.4", optional = true }
lazy_static = "^0.2"
bitflags = "^0.8"
plist = "0.2"
bincode = "0.8"
flate2 = "^0.2"
fnv = { version = "^1.0", optional = true }
serde = { version = "1.0", features = ["rc"] }
serde_derive = "1.0"
serde_json = "1.0"
getopts = "0.2"

[dev-dependencies]
regex = "0.2.1"

[features]
static-onig = ["onig/static-libonig"]
parsing = ["onig", "regex-syntax", "fnv"]
assets = []
html = ["parsing", "assets"]
yaml-load = ["yaml-rust"]
default = ["parsing", "assets", "html", "yaml-load"]

# [profile.release]
# debug = true
